.dashboard {
  position: absolute;
  top: 70px;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    h3 {
      font-size: 1em;
      font-weight: 400;
      color: $primary-color;
    }
  
    form.goal-form {
      margin: 10px 10px;
    
      input[type="text"] {
        margin: 0px 10px;
        width: 50%;
        max-width: 500px;
        height: 20px;
      }

      button {
        padding: 5px 10px;
        background: #88DBDF;
        border: none;
        border-radius: 15px;
      }
    }
  }
}

.goal-list {
  background-color: #2c323f;
  min-height: 50vh;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;

  .my-goals {
    text-align: left;
    padding: 0 20px;
    margin-bottom: 25px;
    
    span {
      .bottom-border {
        margin-top: 5px;
        height: 5px;
        background-image: linear-gradient(to right, #88DBDF, #8988DF);
      }
    }
  }

  .goal-box {
    text-align: left;
    padding: 20px;
    border: 1px solid #3E5776;
    border-radius: 15px;
    margin: 10px 20px;
    height: 80px;
    color: $primary-color;
    font-weight:100;
  }
}

// Larger screen
@include mediaLg {
  
}